version: "3.8"

services:
  python-lib:
    image: sanoguzhan/python-lib:3.8
    build:
      context: .
      target: python
      dockerfile: python/Dockerfile.python
    volumes:
      - ..:/code

    user: ${UID}:${GID}